{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{% block head_title %}Driver App{% endblock %}</title>
    <style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 32%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}

		tr:nth-child(even) {
		    background-color: #dddddd;
		}
	</style>
  
{% block script %}

  <script type="text/javascript">
    function select_ride(id,req_id){
       $.post(".", {driver_id:id,req_id:req_id,csrfmiddlewaretoken:'{{ csrf_token }}'}, function(data){
        console.log(data)
        alert(data)
    });
    }
  </script>
  {% endblock %}
  	</head>
  	<body>
                  <div>
            <button type="button" class="btn btn-info" onclick="location.reload();">Refresh</button>
            </div>
      <div>
            <table style="float: left;">
            <tr>
            	<th>Waiting</th>
            </tr>  
            {% for ride in waiting %}
               <tr>
      <td>Req.ID:{{ ride.id }} &nbsp; Cust.ID:{{ ride.customer.customer_id }} &nbsp; <button type="button" class="btn btn-info" onclick="select_ride('{{ id }}','{{ ride.id }}');">Select</button> </td>
               </tr>
            {% endfor %}
            </table>
            
            <table style="float: left;">
            <tr>
            <th>Ongoing</th>
            </tr>
            {% for ride in ongoing %}
               <tr>
                <td>Req.ID : {{ ride.id }}   Cust.ID: {{ ride.customer.customer_id }}</td>
               </tr>
            {% endfor %}
            </table>


            <table style="float: left;">
            <tr>
            <th>Complete</th>
            </tr>  
            {% for ride in complete %}
               <tr>
                <td>Req.ID : {{ ride.id }}   Cust.ID: {{ ride.customer.customer_id }}</td>
               </tr>
            {% endfor %}
            </table>
            </div>

   </body>
</html>